.months-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem
}

.month-name {
    padding: 1rem 0;
    text-align: center;
    font-weight: bold;
}

.month-days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    gap: 0.5rem;
    max-width: 500px;
}

.day {
    color: black;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2.25rem;
    width: 2.25rem;
    justify-content: center;
}

/* EVENTS */

.types {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.2rem;
    pointer-events: none;
    position: absolute;
    bottom: 0;
}

.identifier {
    height: 0.35rem;
    width: 0.35rem;
    pointer-events: none;
    border-radius: 50%;
}

.aprendizaje .div-aprendizaje {
    position: relative !important;
    background-color: var(--aprendizaje-color);
}

.evaluativa .div-evaluativa{
    position: relative !important;
    background-color: var(--evaluativa-color);
}

.valoracion .div-valoracion{
    position: relative !important;
    background-color: var(--valoracion-color);
}

.deadline .div-deadline{
    position: relative !important;
    background-color: var(--deadline-color);
}