nav {
    display: flex;
    justify-content: space-between;
}


.aprendizaje {
    background-color: var(--aprendizaje-color);
}

.evaluativa{
    background-color: var(--evaluativa-color);
}

.valoracion{
    background-color: var(--valoracion-color);
}

.deadline{
    background-color: var(--deadline-color);
}

.types-items {
    display: flex;
    gap: 1rem;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
}